.pageGenerator {
  /* add CSS */
}

.zipIcon {
  width: 24px;
  height: 24px;
  position: relative;
  top: 0.4rem;
  left: 1rem;
}

.checkbox {
  xposition: relative;
  xtop: 0.4rem;
  margin-right: 0.5rem;
}
