.componentGenerator {
  /* nothing */
}

.fileName {
  background: #f4f4f4;
  border-radius: 0.5rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
}

.zipIcon {
  width: 24px;
  height: 24px;
  position: relative;
  top: .4rem;
  left: 1rem;
  cursor: pointer;
}

.checkbox {
  margin-right: 1rem;
}

.content {
  background: #ffffff;
  border-radius: 7px;
  border: 1px solid #dfdede;
  color: #32302e;
  padding: .5rem .25rem 1rem .25rem;
  padding: 1rem;
  margin: 1rem;
}
