.pageSection {
  position: relative;
}

.title {
  color: #32302e;
  color: #280077;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding-left: 0.25rem;
}

.content {
  background: #ffffff;
  border-radius: 7px;
  border: 1px solid #dfdede;
  color: #32302e;
  padding: 1.25rem;
}

